* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definindo o estilo do body */

body {
  background-image: url('../IMG/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.calculator {
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 24px;
  width: 400px;
  margin: 0 auto;
  display: block;
}

.calculator h2 {
  text-align: center;
}

.form-group {
  margin-top: 1rem;
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="range"] {
  width: 100%;
  margin-top: 5px;
}

.results {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.footer {
    text-align: center;
    align-items: center;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 20px;
}
